@import "base";
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
h1 { @extend %h; }
h2 { @extend %sh; }
h3 { @extend %ssh; }
blockquote { @extend %bq; }
p { @extend %p; }
small { @extend %small; }

.experience {
  background-color: #FBF9F0;
  h1 {
    font-family: $heading-font-family;
    color: $white;
  }
  &> header {
    @include pad();
    // @include retina-image('../images/header-image');
    background: url("../images/header-image@2x.png") no-repeat 50% 50%;
    min-height: 560px;
    width: 100%;
    a {
      color: #fff;
      font-family: $sans-font-family;
      @extend %p;
      font-size: $base-font-size * .8;
      text-transform: uppercase;
    }
    .back {
      @include span-columns(4);
      @include media('<=small') {
        display: none;
        a {
        }
      }
    }
    .logo {
      @include span-columns(4);
      img {
        @include media('<=small') {
          float: left;
        }
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
      }
    }
    .my-account {
      @include span-columns(4);
      @include media('<=small') {
        @include shift(4);
      }
      .button {
        float: right;
      }
    }
  }
  main {
    section {
      @include pad();
      &.strip {
        @include row();
        color: $white;
        background: url('../images/logo/mpc-logo-black-transparent.png') 50% 50% no-repeat $greyish-brown;
        h1 {
          line-height: 1;
          letter-spacing: -0.1px;
          text-transform: uppercase;
        }
        .description {
          @include span-columns(6);
          @include media('<=medium') {
            @include span-columns(12);
          }
          p {
            color: $white-two;
            &:last-child {
              margin: 0;
            }
          }
          text-align: center;
          line-height: 1.3em;
          font-size: 20px;
          font-weight: 400;
          // @include shift(3);
        }
        .prev-btn, .next-btn {
          @include span-columns(3);
          @include media('<=medium') {
            display: none;
          }
        }
      }
      &.copy-intro {
        @include outer-container;
        .copy {
          @include span-columns(8);
          @include media('<=medium') {
            @include span-columns(12);
          }
          .lead {
            font-weight: 900;
            letter-spacing: -0.2px;
            color: $greyish-brown;
          }
        }
        .purchase {
          @include span-columns(4);
          @include media('<=medium') {
            @include span-columns(12);
          }
          h4 {
            // font-family: $sans-font-family;
            // font-size: 20px;
            text-transform: uppercase;
            letter-spacing: -0.1px;
            color: $sienna;
            text-align: center;
          }
          .price {
            text-align: center;
            display: block;
            font-size: 32px;
            letter-spacing: -0.2px;
            color: #000;
            margin: 0 auto 20px;
          }
          .purchase-type {
            @include pad();
            @include row();
            color: $white;
            background-color: $greyish-brown;
            .button {
              @include span-columns(6);
              text-align: center;
            }
          }
        }
        .warning {
          @include pad(default);
          text-align: center;
          background: -webkit-linear-gradient($tomato-50, rgba(255, 0, 0, 0.0));
          background: -o-linear-gradient($tomato-50, rgba(255, 0, 0, 0.0));
          background: linear-gradient($tomato-50, rgba(255, 0, 0, 0.0));
          h4 {
            color: $brick
          }
          p {
            font-size: 14px;
            letter-spacing: -0.1px;
            color: $greyish-brown;
          }
        }
      }
      &.exp-particulars {
        @include row();
        h1 {
          color: $dark-slate-blue;
          font-weight: 100;
          text-transform: uppercase;
          text-align: center;
          border-color: lighten($dark-slate-blue,50%);
          border-bottom: dotted 1px;
          font-size: 1em;
          @include margin(0 auto 2px auto);
          @include pad(default);
          + ul {
            border-top: solid 2px;
            @include margin(2px 0 0 0);
            @include pad(14px 0 0 0);
            text-align: center;
            li {
              @include margin(0 0 .8em 0);
              &:last-child {
                @include margin(0);
              }
            }
          }
        }
        div {
          @include span-columns(4);
          @include media('<=medium') {
            @include pad(0);
            @include margin(0 auto 1em auto);
            @include span-columns(12);
          }
          &.deliveries {
            ul {
              @include row();
              > :first-child {
                @include shift(3);
              }
              li {
                @include span-columns(3);
                @include omega(4n);
              }
              .glyph {
                width: 62px;
                height: 50px;
                object-fit: contain;
                background-repeat: no-repeat;
              }
              .envelope { background-image: url(../images/deliveries-sprites/envelope@2x.png); }
              .crate { background-image: url(../images/deliveries-sprites/crate@2x.png); }
            }

          }
        }
      }
      &.interstitial {
        @include pad();
        margin-bottom: 30px;
        background: url("../images/header-image.png") no-repeat;
        background-size: cover;
        height: 400px;
      }
      &.copy-body {
        p:first-child {
          &::first-line {
            font-weight: 900;
          }
        }
        @include outer-container;
        figure {
          &.quote {
            @include pad();
            @include span-columns(4);
            @include media('<=medium') {
              @include pad(0);
              @include margin(0 auto 1em auto);
              text-align: center;
              @include span-columns(12);
            }
            blockquote {
              @include margin(0);
            }
            figcaption::before {
              content: "— ";
            }
            float: right;
          }
          font-style: italic;
          // font-family: $sans-font-family;
        }
      }
      &.spoilers {
        header {
          background: url("../images/logo/m-p-c-black-logo.png") no-repeat 50% 110px, linear-gradient($tomato-50, rgba(255, 0, 0, 0.0));
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 20px;
          border-top: solid 3px $brick;
          border-bottom: solid 3px $brick;
          @include pad(4px 0);
          @include omega();
          h1 {
            line-height: 1;
          }
        }
        p { margin: 0; }
        @include pad(0);
        .spoiler-content {
          @include pad(default);
          padding-bottom: 150px;
          color: $brick;
          border-top: solid 1px $brick;
          border-bottom: solid 1px $brick;
        }
        .description {
          @include outer-container;
          @include pad(default);
        }
        li.mailing {
          img {
            @include fill-parent;
            width: 100%;
          }
          .caption {
            @include row();
            // color: shade($brick,20%);
            color: $dark-slate-blue;
            font-style: italic;
            text-align: center;
          }
        }
        h1,h2 {
          color: $brick;
        }
      }
    }
  }
}
